root://se01.grid.nchc.org.tw//dpm/grid.nchc.org.tw/home/cms/store/user/syu/BTagCSV/crab_BTagCSV-Run2016C-03Feb2017-v1/181121_071216/0000/NCUGlobalTuples_530.root
root://se01.grid.nchc.org.tw//dpm/grid.nchc.org.tw/home/cms/store/user/syu/BTagCSV/crab_BTagCSV-Run2016C-03Feb2017-v1/181121_071216/0000/NCUGlobalTuples_821.root
